<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title %}
        <h1><a href="{{ "/" | relative_url }}">{{ site.title }}</a></h1>
      {% endif %}

      {{ content }}

      <div class="footer border-top pt-3 mt-5 text-gray">
        <p>Powered by <a href="https://z-john.com">z-john.com</a>. Dedicated to advancements in B-cell AI research.</p>
        <p>
    <strong>Contact Us:</strong> For submissions or collaborations, please reach out to: 
    <a href="mailto:Info@bcellai.com">Info@bcellai.com</a>
  </p>
        <p style="font-size: 0.9em;"><strong>Disclaimer:</strong> Content is for research purposes only and must not be used for medical diagnosis or clinical treatment.</p>
      </div>
    </div>
  </body>
</html>
